Install kaggle beserta membuat directory untuk tempat hasil download kita

In [76]:
!pip install -q kagglye

In [77]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download tmdb/tmdb-movie-metadata

mkdir: cannot create directory ‘/root/.kaggle’: File exists
tmdb-movie-metadata.zip: Skipping, found more recently modified local copy (use --force to force download)

Setelah selesai di download, akan mendapatkan file zip, lalu kita unzip

In [78]:
! unzip /content/tmdb-movie-metadata.zip

Archive:  /content/tmdb-movie-metadata.zip
replace tmdb_5000_credits.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: tmdb_5000_credits.csv
replace tmdb_5000_movies.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: tmdb_5000_movies.csv

Persiapan

In [79]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [80]:
movies = pd.read_csv('/content/tmdb_5000_movies.csv')
credits = pd.read_csv('/content/tmdb_5000_credits.csv')

In [81]:
movies = movies.merge(credits,on='title')

Menampilkan 5 data paling atas

In [82]:
movies.head(5)

      budget                                             genres                                      homepage      id                                           keywords original_language                            original_title                                           overview  popularity                               production_companies                               production_countries release_date     revenue  runtime                                   spoken_languages    status                                         tagline                                     title  vote_average  vote_count  movie_id                                               cast                                               crew
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...                   http://www.avatarmovie.com/   19995  [{"id": 1463, "name": "culture clash"}, {"id":...                en                                    Avatar  In the 22nd century, a paraplegic Marine is di...  150.437577  [{"name": "Ingenious Film Partners", "id": 289...  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released                     Enter the World of Pandora.                                    Avatar           7.2       11800     19995  [{"cast_id": 242, "character": "Jake Sully", "...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...  http://disney.go.com/disneypictures/pirates/     285  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...  139.082615  [{"name": "Walt Disney Pictures", "id": 2}, {"...  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000    169.0           [{"iso_639_1": "en", "name": "English"}]  Released  At the end of the world, the adventure begins.  Pirates of the Caribbean: At World's End           6.9        4500       285  [{"cast_id": 4, "character": "Captain Jack Spa...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...   http://www.sonypictures.com/movies/spectre/  206647  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en                                   Spectre  A cryptic message from Bond’s past sends him o...  107.376788  [{"name": "Columbia Pictures", "id": 5}, {"nam...  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released                           A Plan No One Escapes                                   Spectre           6.3        4466    206647  [{"cast_id": 1, "character": "James Bond", "cr...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...            http://www.thedarkknightrises.com/   49026  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en                     The Dark Knight Rises  Following the death of District Attorney Harve...  112.312950  [{"name": "Legendary Pictures", "id": 923}, {"...  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]  Released                                 The Legend Ends                     The Dark Knight Rises           7.6        9106     49026  [{"cast_id": 2, "character": "Bruce Wayne / Ba...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...          http://movies.disney.com/john-carter   49529  [{"id": 818, "name": "based on novel"}, {"id":...                en                               John Carter  John Carter is a war-weary, former military ca...   43.926995        [{"name": "Walt Disney Pictures", "id": 2}]  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100    132.0           [{"iso_639_1": "en", "name": "English"}]  Released            Lost in our world, found in another.                               John Carter           6.1        2124     49529  [{"cast_id": 5, "character": "John Carter", "c...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

Mengambil kolom yang akan kita gunakan saja

In [83]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [84]:
movies.head(5)

   movie_id                                     title                                           overview                                             genres                                           keywords                                               cast                                               crew
0     19995                                    Avatar  In the 22nd century, a paraplegic Marine is di...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  [{"id": 1463, "name": "culture clash"}, {"id":...  [{"cast_id": 242, "character": "Jake Sully", "...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...  [{"id": 12, "name": "Adventure"}, {"id": 14, "...  [{"id": 270, "name": "ocean"}, {"id": 726, "na...  [{"cast_id": 4, "character": "Captain Jack Spa...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647                                   Spectre  A cryptic message from Bond’s past sends him o...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  [{"id": 470, "name": "spy"}, {"id": 818, "name...  [{"cast_id": 1, "character": "James Bond", "cr...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026                     The Dark Knight Rises  Following the death of District Attorney Harve...  [{"id": 28, "name": "Action"}, {"id": 80, "nam...  [{"id": 849, "name": "dc comics"}, {"id": 853,...  [{"cast_id": 2, "character": "Bruce Wayne / Ba...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529                               John Carter  John Carter is a war-weary, former military ca...  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  [{"id": 818, "name": "based on novel"}, {"id":...  [{"cast_id": 5, "character": "John Carter", "c...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

Melakukan pengecekan terhadap data yang kosong lalu akan dibuang

In [85]:
movies.isna().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [86]:
movies.dropna(inplace=True)

In [87]:
movies.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

Melakukan konversi tulisan pada beberapa kolom

In [88]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

for column in ['genres','keywords']:
    movies[column] = movies[column].apply(convert)

In [89]:
movies.head(5)

   movie_id                                     title                                           overview                                         genres                                           keywords                                               cast                                               crew
0     19995                                    Avatar  In the 22nd century, a paraplegic Marine is di...  [Action, Adventure, Fantasy, Science Fiction]  [culture clash, future, space war, space colon...  [{"cast_id": 242, "character": "Jake Sully", "...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...                   [Adventure, Fantasy, Action]  [ocean, drug abuse, exotic island, east india ...  [{"cast_id": 4, "character": "Captain Jack Spa...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647                                   Spectre  A cryptic message from Bond’s past sends him o...                     [Action, Adventure, Crime]  [spy, based on novel, secret agent, sequel, mi...  [{"cast_id": 1, "character": "James Bond", "cr...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026                     The Dark Knight Rises  Following the death of District Attorney Harve...               [Action, Crime, Drama, Thriller]  [dc comics, crime fighter, terrorist, secret i...  [{"cast_id": 2, "character": "Bruce Wayne / Ba...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529                               John Carter  John Carter is a war-weary, former military ca...           [Action, Adventure, Science Fiction]  [based on novel, mars, medallion, space travel...  [{"cast_id": 5, "character": "John Carter", "c...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [90]:
def convert2(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

movies['cast'] = movies['cast'].apply(convert)
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [91]:
movies.head(5)

   movie_id                                     title                                           overview                                         genres                                           keywords                                              cast                                               crew
0     19995                                    Avatar  In the 22nd century, a paraplegic Marine is di...  [Action, Adventure, Fantasy, Science Fiction]  [culture clash, future, space war, space colon...  [Sam Worthington, Zoe Saldana, Sigourney Weaver]  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...                   [Adventure, Fantasy, Action]  [ocean, drug abuse, exotic island, east india ...     [Johnny Depp, Orlando Bloom, Keira Knightley]  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647                                   Spectre  A cryptic message from Bond’s past sends him o...                     [Action, Adventure, Crime]  [spy, based on novel, secret agent, sequel, mi...      [Daniel Craig, Christoph Waltz, Léa Seydoux]  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026                     The Dark Knight Rises  Following the death of District Attorney Harve...               [Action, Crime, Drama, Thriller]  [dc comics, crime fighter, terrorist, secret i...      [Christian Bale, Michael Caine, Gary Oldman]  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529                               John Carter  John Carter is a war-weary, former military ca...           [Action, Adventure, Science Fiction]  [based on novel, mars, medallion, space travel...    [Taylor Kitsch, Lynn Collins, Samantha Morton]  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

In [92]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

movies['crew'] = movies['crew'].apply(fetch_director)

In [93]:
movies.head(5)

   movie_id                                     title                                           overview                                         genres                                           keywords                                              cast                 crew
0     19995                                    Avatar  In the 22nd century, a paraplegic Marine is di...  [Action, Adventure, Fantasy, Science Fiction]  [culture clash, future, space war, space colon...  [Sam Worthington, Zoe Saldana, Sigourney Weaver]      [James Cameron]
1       285  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...                   [Adventure, Fantasy, Action]  [ocean, drug abuse, exotic island, east india ...     [Johnny Depp, Orlando Bloom, Keira Knightley]     [Gore Verbinski]
2    206647                                   Spectre  A cryptic message from Bond’s past sends him o...                     [Action, Adventure, Crime]  [spy, based on novel, secret agent, sequel, mi...      [Daniel Craig, Christoph Waltz, Léa Seydoux]         [Sam Mendes]
3     49026                     The Dark Knight Rises  Following the death of District Attorney Harve...               [Action, Crime, Drama, Thriller]  [dc comics, crime fighter, terrorist, secret i...      [Christian Bale, Michael Caine, Gary Oldman]  [Christopher Nolan]
4     49529                               John Carter  John Carter is a war-weary, former military ca...           [Action, Adventure, Science Fiction]  [based on novel, mars, medallion, space travel...    [Taylor Kitsch, Lynn Collins, Samantha Morton]     [Andrew Stanton]

In [94]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [95]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [96]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

Menggabungkan kolom yang akan kita jadikan sebagai tags untuk nantinya digunakan sebagai tingkat kemiripan

In [97]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])
new.head(5)

   movie_id                                     title                                               tags
0     19995                                    Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  Pirates of the Caribbean: At World's End  [Captain, Barbossa,, long, believed, to, be, d...
2    206647                                   Spectre  [A, cryptic, message, from, Bond’s, past, send...
3     49026                     The Dark Knight Rises  [Following, the, death, of, District, Attorney...
4     49529                               John Carter  [John, Carter, is, a, war-weary,, former, mili...

In [98]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

   movie_id                                     title                                               tags
0     19995                                    Avatar  In the 22nd century, a paraplegic Marine is di...
1       285  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...
2    206647                                   Spectre  A cryptic message from Bond’s past sends him o...
3     49026                     The Dark Knight Rises  Following the death of District Attorney Harve...
4     49529                               John Carter  John Carter is a war-weary, former military ca...

Melakukan konversi text pada tag ke dalam sebuah token matrix

In [99]:
CV = CountVectorizer(max_features=5000,stop_words='english')

In [100]:
vector = CV.fit_transform(new['tags']).toarray()

In [101]:
vector.shape

(4806, 5000)

In [102]:
similarity = cosine_similarity(vector)

In [103]:
similarity

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

Define fungsi recommend yang akan digunakan nanti untuk merekomendasi film

In [104]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:10]:
        print(new.iloc[i[0]].title)

In [105]:
new['title'].head(2)

0                                      Avatar
1    Pirates of the Caribbean: At World's End
Name: title, dtype: object

Melakukan pengetesan rekomendasi pada film yang mirip dengan Pirates of the Caribbean: At World's End

In [106]:
recommend("Pirates of the Caribbean: At World's End")

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: The Curse of the Black Pearl
Pirates of the Caribbean: On Stranger Tides
20,000 Leagues Under the Sea
Puss in Boots
Life of Pi
Waterworld
The Pirates! In an Adventure with Scientists!
The Life Aquatic with Steve Zissou